<html>
<head>
    <title>Ejercicio 1 Unidad 2 </title>
</head>

<body>
    <h1>Erick Salazar - 171G0250</h1>
    <h2>Programación Web</h2>
    @RenderBody()
    <footer>
        <h6>@DateTime.Now.ToShortDateString()</h6>
    </footer>

</body>
</html>