
@{
    Layout = "_Layout";
}

<h2>Capture 2 datos para realizar la suma</h2>
<form method="get" action="~/Home/Sumar"> 
    <fieldset>
        <legend>Números a sumar</legend>
        <label>Número 1:</label> <input name="n1" /><br />
        <label>Número 2:</label> <input name="n2" /><br />
        <input type="submit" value="Enviar" />
    </fieldset>
</form>

