@model Actividad1.Models.Numeros 

@{
    Layout = "_Layout";
}


<h2>Suma: </h2>
<p>

    <int>  @Model.n1 </int> <label>+</label>
    <int>  @Model.n2 </int>  <br />
    La suma de los números es: 
</p>
@*Esta vista no la uso*@